.pdf-preview {
    height: 100%;
}

.pdf-iframe {
    width: 100%;
    height: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pdf-placeholder {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ddd;
    border-radius: 4px;
}

.preview-info {
    text-align: center;
    margin-top: 1rem;
}